# Se ignoran los carchivos de python compilados en cualquier parte del proyecto para subir al git
**/__pycache__/
# Se ignoran los de la extension v2 y los de la extension .tfrecord
**.v2
**.tfrecord

# Se ignoran extensiones de modelos cargados en memoria
**.pt

# Se ignora todo lo del directioro data salvo el fichero data.json
/data/
!/data/data.json


# Se ignoran directorios donde se almacenan datos (demasiado grandes para el git)
/src/lib/*
/src/dataset/*

/datasets/*
!/datasets/

/models/*
!/models/

/dataset/*
!/dataset/

/clean_dataset/*