# Ignore compiled Python files across all directories
**/__pycache__/


# Ignore all contents of the data folder but instances json file
/data/*
!/data/data.json

# Ignore all contents of the dataset folder but allow it to be tracked; the same with model checkpoints
/datasets/*
!/datasets/

/models/*
!/models/
