

/* Layout style  */



body {
    margin: 0px;
    font-family: 'Space Grotesk', sans-serif;
}

.content {
    width: 86%;
    padding:20px;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
}

.web-layout {
        display:flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
}

/* Navbar style */

.navbar {
        width: 14%;
        background-color: #1E1E1E;
        padding: 20px ; 
        box-sizing: border-box;
        height: 100vh;
        overflow-y: auto;
        border-right: 3px solid grey;
}



/* navbar-entry */
.navbar-entry {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    margin-top: 10px;
}

.navbar-link {
    text-decoration: none;
    color: white; 
    background-color: black;
}

.navbar-link:hover .navbar-entry {
    background-color: #f0f0f0;  
    color: black;            
    cursor: pointer;
    font-weight: bold;
}

.navbar-entry > i{
    margin-right: 15px
}

#pink-icon {
    color: pink;
}



/* Estilado de titulos */

h1 {
    background-color: #1E1E1E;
    border-radius: 5px;
    color: #f0f0f0;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}