

/* Layout style  */
.content {
    width: 80%;
    padding:20px;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
}

.web-layout {
        display:flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
}

/* Navbar style */

.navbar {
        width: 20%;
        background-color: #f0f0f0;
        padding: 20px ; 
        box-sizing: border-box;
        height: 100vh;
        overflow-y: auto;
}



/* navbar-entry */
.navbar-entry {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-link {
    text-decoration: none;
    color: white; 
    background-color: black;
}

.navbar-link:hover .navbar-entry {
    background-color: #f0f0f0;  
    color: black;            
    cursor: pointer;
}